.home-page {
  display: flex;
  min-height: 100vh;
}

.home-container {
  flex: 1;
  margin-left: 250px;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .home-container {
    margin-left: 0;
    margin-bottom: 70px;
    padding: 1rem;
  }
}
